body{
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: #eee;
}
.container{
  border: 5px solid #000;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  /* display: flex;
  flex-wrap: wrap; */
  /* & div {
    flex: calc(100% / 8);
    aspect-ratio: 1 / 1;
  } */
  & div {
    width: 100%;
    padding-bottom: 100%; /* الحفاظ على نسبة 1:1 للمربعات */
  }
  & .white{
    background-color: #fff;
  }
  & .black{
    background-color: #000;
  }
}
